@media(max-width:900px) {

        .navbar {
                flex-direction: column;
                padding: 20px 0;
        }

        .menu {
                flex-wrap: wrap;
                justify-content: center;
        }

        .hero {
                grid-template-columns: 1fr;
        }

        .hero-imagen img {
                height: 350px;
        }

        .hero-info h1 {
                font-size: 2.8rem;
        }

        .acciones input {
                width: 180px;
        }
}

@media(max-width:600px) {

        .hero-info {
                left: 20px;
                bottom: 20px;
        }

        .hero-info h1 {
                font-size: 2rem;
        }

        .hero-info p {
                font-size: 1rem;
        }

        .mini-card {
                flex-direction: column;
                text-align: center;
        }

        .mini-card img {
                width: 100%;
                height: 180px;
        }
}


@media(max-width:768px){

        body{
    
            padding:20px;
    
        }
    
        .encabezado{
    
            flex-direction:column;
    
            gap:20px;
    
        }
    
        #buscarEvento{
    
            width:100%;
    
        }
    
    }
    
    