/* =======================
      RESPONSIVE
======================= */

@media (max-width: 900px) {

        .promociones {
                grid-template-columns: 1fr;
        }

        .hero {
                grid-template-columns: 1fr;
        }

        .navbar {
                flex-direction: column;
                height: auto;
                padding: 20px;
                gap: 20px;
        }

        .menu {
                flex-wrap: wrap;
                justify-content: center;
        }

        .titulo h2 {
                font-size: 45px;
        }

        .hero-info h1 {
                font-size: 55px;
        }

        .hero-info p {
                font-size: 22px;
        }
}


/* =======================
      RESPONSIVE LOgin
======================= */

@media (max-width: 600px) {

        .login {
                padding: 30px;
                margin: 60px 20px;
        }

        .login h1 {
                font-size: 30px;
        }

        .login input,
        .login button {
                padding: 14px;
                font-size: 16px;
        }
}


/* =======================
      RESPONSIVE ADMINISTRADOR
======================= */

@media (max-width: 768px) {

        header h1 {
                font-size: 35px;
        }

        .encabezado {
                flex-direction: column;
                align-items: stretch;
        }

        #buscarEvento {
                width: 100%;
        }

        #formulario,
        #eventos {
                padding: 25px;
        }
}

@media (max-width: 500px) {

        header h1 {
                font-size: 28px;
        }

        .card-dashboard span {
                font-size: 35px;
        }

        #formulario h2,
        .encabezado h2 {
                font-size: 28px;
        }

        .acciones-card {
                flex-direction: column;
        }
}


/* =======================
      RESPONSIVE EVENTOS
======================= */

@media (max-width: 1200px) {

        #listaEventos {

                grid-template-columns: repeat(2, 1fr);

        }

}

@media (max-width:900px) {

        #dashboard {

                grid-template-columns: 1fr;

        }

        #listaEventos {

                grid-template-columns: 1fr;

        }

        .card-evento {

                max-width: 450px;
                margin: auto;

        }

}

@media (max-width:700px) {

        #formulario {

                padding: 20px;

        }

        #formulario input,
        #formulario select,
        #formulario button {

                width: 100%;

        }

        .card-evento img {

                height: 220px;

        }

}

@media (max-width:500px) {

        #listaEventos {

                grid-template-columns: 1fr;

        }

        .card-evento {

                width: 100%;

        }

        .card-evento img {

                height: 180px;

        }

        .acciones-card {

                flex-direction: column;

        }

        .btn-editar,
        .btn-eliminar {

                width: 100%;

        }

}

#listaEventos {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 25px;

}

.card-evento {

        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .15);

}

.card-evento img {

        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;

}